

/* General */

.wrap-list-checkbox{
    padding-top: 5px;
    padding-left: 5px;
    min-height: 150px;
    max-height: 220px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE và Edge */
    scrollbar-width: none
}

.wrap-list-checkbox::-webkit-scrollbar {
    display: none;
}

.wrap-attribute .wrap-item-attribute:not(:first-child){
    border-top: 1px var(--tblr-border-style) rgba(97,104,118,.16);
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 1em;
    height: 53px;
}

.wrap-table-scroll {
    width: 100%;
    overflow-x: scroll;
}

#blockSubmitFixed{
    transition: all 0.3s ease-in-out;
}

/* sidebarleft */

.nav-item.active .nav-link.active, .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item.active, .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item:active{
    background-color: #1f2e41;
}
.navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu{
    padding-left: 3px;
}

/* datatable */

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before{
    content: "\f30c";
    font-family: 'Font Awesome 5 free';
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after{
    content: "\f309";
    font-family: 'Font Awesome 5 free';
}
.dt-buttons{
    width: 100%;
    margin-bottom: 20px;
}
.dt-buttons button.btn{
    width: fit-content;
    flex: unset;
}
.dataTables_length{
    float: left;
}
div.dataTables_wrapper div.dataTables_processing{
    z-index: 9;
}
.dataTables_filter{
    opacity: 0;
}

.drop-toggle-columns::-webkit-scrollbar{
    width: 0;
}